{
    "openapi": "3.0.0",
    "info": {
        "title": "MandalHisab API",
        "description": "Ganpati Mandal Financial Management System API. All responses use a standard envelope: `{success, statusCode, message, data, meta}`. Money amounts are INR with max 2 decimals. Calendar dates use `YYYY-MM-DD`, timestamps use ISO-8601 UTC.",
        "contact": {
            "email": "support@mandalhisab.in"
        },
        "license": {
            "name": "Proprietary"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.mandalhisab.in/api/v1",
            "description": "Production"
        },
        {
            "url": "http://localhost:8000/api/v1",
            "description": "Local Development"
        }
    ],
    "paths": {
        "/config/app": {
            "get": {
                "tags": [
                    "Devices & Notifications"
                ],
                "summary": "Get app configuration",
                "description": "Public configuration: version, maintenance mode, feature flags, support contacts.",
                "operationId": "getAppConfig",
                "responses": {
                    "200": {
                        "description": "App configuration",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppConfig"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Maintenance mode active",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/public/receipts/{receiptNumber}": {
            "get": {
                "tags": [
                    "Public"
                ],
                "summary": "Public receipt page (limited fields)",
                "operationId": "getPublicReceipt",
                "parameters": [
                    {
                        "name": "receiptNumber",
                        "in": "path",
                        "description": "Receipt number",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Public receipt data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PublicReceipt"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Receipt not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/register": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Register a new account",
                "operationId": "authRegister",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RegisterRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Account created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AuthResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "User already exists",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Login with username/phone and password",
                "operationId": "authLogin",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LoginRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Login successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AuthResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid credentials",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/token/refresh": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Refresh access token (rotates refresh token)",
                "operationId": "authRefresh",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "refreshToken": {
                                        "description": "Valid refresh token",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "New tokens issued",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TokenResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid/expired refresh token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/logout": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Logout (revokes refresh token, optionally all sessions)",
                "operationId": "authLogout",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "refreshToken": {
                                        "type": "string"
                                    },
                                    "deviceToken": {
                                        "type": "string"
                                    },
                                    "allSessions": {
                                        "type": "boolean",
                                        "default": false
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Logged out"
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/auth/me": {
            "get": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Get current user profile",
                "operationId": "authMe",
                "responses": {
                    "200": {
                        "description": "User profile",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Update current user profile",
                "operationId": "authUpdateMe",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateProfileRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Profile updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/auth/security-pin": {
            "put": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Set or update 4-digit security PIN",
                "operationId": "authSetPin",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "pin": {
                                        "description": "Exactly 4 digits",
                                        "type": "string",
                                        "maxLength": 4,
                                        "minLength": 4
                                    },
                                    "currentPassword": {
                                        "type": "string"
                                    },
                                    "currentPin": {
                                        "description": "Required when changing an existing PIN",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "PIN set successfully"
                    },
                    "422": {
                        "description": "Validation failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/auth/password": {
            "put": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Change account password",
                "operationId": "authChangePassword",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "currentPassword": {
                                        "type": "string"
                                    },
                                    "newPassword": {
                                        "type": "string",
                                        "minLength": 8
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Password changed"
                    },
                    "422": {
                        "description": "Validation failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/mandals": {
            "get": {
                "tags": [
                    "Mandal & Festival"
                ],
                "summary": "List my mandals",
                "operationId": "listMandals",
                "responses": {
                    "200": {
                        "description": "List of mandals",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/MandalListItem"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Mandal & Festival"
                ],
                "summary": "Create a new mandal (caller becomes ADMIN)",
                "operationId": "createMandal",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MandalRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Mandal created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MandalResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/mandals/{mandalId}": {
            "get": {
                "tags": [
                    "Mandal & Festival"
                ],
                "summary": "Get mandal details",
                "operationId": "getMandal",
                "parameters": [
                    {
                        "name": "mandalId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Mandal details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MandalResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Mandal & Festival"
                ],
                "summary": "Update mandal (ADMIN only)",
                "operationId": "updateMandal",
                "parameters": [
                    {
                        "name": "mandalId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MandalRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Mandal updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MandalResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/mandals/{mandalId}/festivals": {
            "get": {
                "tags": [
                    "Mandal & Festival"
                ],
                "summary": "List festivals for a mandal",
                "operationId": "listFestivals",
                "parameters": [
                    {
                        "name": "mandalId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filter by status",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "ACTIVE",
                                "UPCOMING",
                                "COMPLETED"
                            ]
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of festivals",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/FestivalResponse"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Mandal & Festival"
                ],
                "summary": "Create a festival (ADMIN/TREASURER)",
                "operationId": "createFestival",
                "parameters": [
                    {
                        "name": "mandalId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FestivalRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Festival created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FestivalResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/festivals/{festivalId}": {
            "get": {
                "tags": [
                    "Mandal & Festival"
                ],
                "summary": "Get festival details",
                "operationId": "getFestival",
                "parameters": [
                    {
                        "name": "festivalId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Festival details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FestivalResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Mandal & Festival"
                ],
                "summary": "Update festival (ADMIN; TREASURER may edit budgetGoal/openingBalance)",
                "operationId": "updateFestival",
                "parameters": [
                    {
                        "name": "festivalId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FestivalRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Festival updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FestivalResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/festivals/{festivalId}/dashboard/summary": {
            "get": {
                "tags": [
                    "Dashboard"
                ],
                "summary": "Festival dashboard summary with metrics & recent transactions",
                "operationId": "dashboardSummary",
                "parameters": [
                    {
                        "name": "festivalId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Dashboard summary",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DashboardSummary"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/festivals/{festivalId}/vargani": {
            "get": {
                "tags": [
                    "Vargani"
                ],
                "summary": "List vargani entries (paginated, filterable)",
                "operationId": "listVargani",
                "parameters": [
                    {
                        "name": "festivalId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 20,
                            "maximum": 100
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Donor name / phone / receipt #",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "paymentMode",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "CASH",
                                "UPI",
                                "CHEQUE",
                                "NET_BANKING"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "ALL",
                                "TODAY",
                                "CASH",
                                "UPI",
                                "CANCELLED"
                            ]
                        }
                    },
                    {
                        "name": "area",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "collectorId",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "startDate",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "endDate",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of vargani entries",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/VarganiListResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Vargani"
                ],
                "summary": "Create a vargani receipt (ADMIN/TREASURER/COLLECTOR)",
                "description": "Server assigns the next receipt number under a concurrency-safe lock. Sends Idempotency-Key recommended.",
                "operationId": "createVargani",
                "parameters": [
                    {
                        "name": "festivalId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/VarganiRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Receipt created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/VarganiCreatedResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation failed (e.g. RECEIPT_BOOK_EXHAUSTED)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/festivals/{festivalId}/vargani/{varganiId}": {
            "get": {
                "tags": [
                    "Vargani"
                ],
                "summary": "Get a single vargani / digital receipt",
                "operationId": "getVargani",
                "parameters": [
                    {
                        "name": "festivalId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "varganiId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Vargani entry",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/VarganiResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/festivals/{festivalId}/vargani/{varganiId}/cancel": {
            "post": {
                "tags": [
                    "Vargani"
                ],
                "summary": "Cancel a vargani (ADMIN/TREASURER/owning COLLECTOR)",
                "description": "Keeps audit trail, reverses fund impact. Errors: ALREADY_CANCELLED, HISAB_LOCKED.",
                "operationId": "cancelVargani",
                "parameters": [
                    {
                        "name": "festivalId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "varganiId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "reason": {
                                        "description": "Cancellation reason",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Cancelled"
                    },
                    "409": {
                        "description": "ALREADY_CANCELLED / HISAB_LOCKED",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/festivals/{festivalId}/vargani/{varganiId}/signature": {
            "post": {
                "tags": [
                    "Vargani"
                ],
                "summary": "Upload signature image to a receipt (multipart)",
                "operationId": "uploadVarganiSignature",
                "parameters": [
                    {
                        "name": "festivalId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "varganiId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "signatureFile": {
                                        "description": "Image file (jpeg/png, max 1 MB)",
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Signature uploaded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "signatureUrl": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "FILE_TOO_LARGE / UNSUPPORTED_MEDIA_TYPE",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/festivals/{festivalId}/vargani/export": {
            "get": {
                "tags": [
                    "Vargani"
                ],
                "summary": "Export vargani (xlsx/csv/pdf) — binary response",
                "operationId": "exportVargani",
                "parameters": [
                    {
                        "name": "festivalId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "xlsx",
                                "csv",
                                "pdf"
                            ]
                        }
                    },
                    {
                        "name": "startDate",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "endDate",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "paymentMode",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "CASH",
                                "UPI",
                                "CHEQUE",
                                "NET_BANKING"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Binary file stream"
                    },
                    "403": {
                        "description": "ADMIN/TREASURER only",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/festivals/{festivalId}/vargani/{varganiId}/pdf": {
            "get": {
                "tags": [
                    "Vargani"
                ],
                "summary": "Download receipt PDF — binary response",
                "operationId": "varganiPdf",
                "parameters": [
                    {
                        "name": "festivalId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "varganiId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "application/pdf"
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/festivals/{festivalId}/receipt-books": {
            "get": {
                "tags": [
                    "Receipt Books"
                ],
                "summary": "List receipt books for a festival",
                "operationId": "listReceiptBooks",
                "parameters": [
                    {
                        "name": "festivalId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "ACTIVE",
                                "COMPLETED",
                                "LOST",
                                "CANCELLED"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of receipt books",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ReceiptBookResponse"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Receipt Books"
                ],
                "summary": "Create / batch register receipt books (ADMIN/TREASURER)",
                "operationId": "createReceiptBooks",
                "parameters": [
                    {
                        "name": "festivalId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "books": {
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/components/schemas/ReceiptBookDraft"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Books created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ReceiptBookResponse"
                                    }
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Overlapping range CONFLICT",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/receipt-books/{bookId}": {
            "get": {
                "tags": [
                    "Receipt Books"
                ],
                "summary": "Get a single receipt book",
                "operationId": "getReceiptBook",
                "parameters": [
                    {
                        "name": "bookId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Receipt book",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReceiptBookResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/receipt-books/{bookId}/assign": {
            "post": {
                "tags": [
                    "Receipt Books"
                ],
                "summary": "Assign/re-assign a book to a collector (ADMIN/TREASURER)",
                "operationId": "assignReceiptBook",
                "parameters": [
                    {
                        "name": "bookId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "collectorId": {
                                        "type": "string"
                                    },
                                    "notes": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Assigned"
                    },
                    "404": {
                        "description": "Book not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/receipt-books/{bookId}/status": {
            "patch": {
                "tags": [
                    "Receipt Books"
                ],
                "summary": "Update book status (ACTIVE→COMPLETED|LOST|CANCELLED)",
                "operationId": "updateReceiptBookStatus",
                "parameters": [
                    {
                        "name": "bookId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "ACTIVE",
                                            "COMPLETED",
                                            "LOST",
                                            "CANCELLED"
                                        ]
                                    },
                                    "notes": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Status updated"
                    },
                    "422": {
                        "description": "Invalid transition",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/festivals/{festivalId}/expenses": {
            "get": {
                "tags": [
                    "Expenses"
                ],
                "summary": "List expenses (paginated, filterable)",
                "operationId": "listExpenses",
                "parameters": [
                    {
                        "name": "festivalId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 20,
                            "maximum": 100
                        }
                    },
                    {
                        "name": "category",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "STAGE_MANDAP",
                                "SOUND_LIGHTING",
                                "MURTI_DECORATION",
                                "POOJA_PRASAD",
                                "SECURITY_LOGISTICS",
                                "MISCELLANEOUS"
                            ]
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "PAID",
                                "PENDING"
                            ]
                        }
                    },
                    {
                        "name": "hasBill",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "true",
                                "false"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "ALL",
                                "TODAY",
                                "PENDING",
                                "PENDING_BILL"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of expenses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExpenseListResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Expenses"
                ],
                "summary": "Create an expense (ADMIN/TREASURER) — multipart or JSON",
                "description": "Either billFile OR billPendingReason is required. Idempotency-Key recommended.",
                "operationId": "createExpense",
                "parameters": [
                    {
                        "name": "festivalId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/ExpenseRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Expense created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExpenseResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/festivals/{festivalId}/expenses/{expenseId}": {
            "get": {
                "tags": [
                    "Expenses"
                ],
                "summary": "Get a single expense",
                "operationId": "getExpense",
                "parameters": [
                    {
                        "name": "festivalId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "expenseId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Expense details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExpenseResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "patch": {
                "tags": [
                    "Expenses"
                ],
                "summary": "Update non-destructive expense fields (ADMIN/TREASURER)",
                "description": "Blocked when HISAB_LOCKED. Amount/paymentMode may only change while PENDING.",
                "operationId": "updateExpense",
                "parameters": [
                    {
                        "name": "festivalId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "expenseId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "title": {
                                        "type": "string"
                                    },
                                    "category": {
                                        "type": "string",
                                        "enum": [
                                            "STAGE_MANDAP",
                                            "SOUND_LIGHTING",
                                            "MURTI_DECORATION",
                                            "POOJA_PRASAD",
                                            "SECURITY_LOGISTICS",
                                            "MISCELLANEOUS"
                                        ]
                                    },
                                    "paidTo": {
                                        "type": "string"
                                    },
                                    "notes": {
                                        "type": "string"
                                    },
                                    "billPendingReason": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Expense updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExpenseResponse"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "HISAB_LOCKED",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/festivals/{festivalId}/expenses/{expenseId}/bill": {
            "post": {
                "tags": [
                    "Expenses"
                ],
                "summary": "Attach a bill image/PDF (multipart)",
                "operationId": "attachExpenseBill",
                "parameters": [
                    {
                        "name": "festivalId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "expenseId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "billFile": {
                                        "description": "Image or PDF, max 2 MB",
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Bill attached, billPendingReason cleared"
                    },
                    "422": {
                        "description": "FILE_TOO_LARGE",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/festivals/{festivalId}/expenses/{expenseId}/mark-paid": {
            "patch": {
                "tags": [
                    "Expenses"
                ],
                "summary": "Mark a pending expense as PAID (ADMIN/TREASURER)",
                "operationId": "markExpensePaid",
                "parameters": [
                    {
                        "name": "festivalId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "expenseId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Marked paid, fund buckets updated"
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/festivals/{festivalId}/expenses/export": {
            "get": {
                "tags": [
                    "Expenses"
                ],
                "summary": "Export expenses (xlsx/csv/pdf) — binary response",
                "operationId": "exportExpenses",
                "parameters": [
                    {
                        "name": "festivalId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "xlsx",
                                "csv",
                                "pdf"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Binary file stream"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/festivals/{festivalId}/funds/summary": {
            "get": {
                "tags": [
                    "Funds & Handovers"
                ],
                "summary": "Fund balance summary (treasurer/collectors/bank/UPI)",
                "operationId": "fundSummary",
                "parameters": [
                    {
                        "name": "festivalId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Fund summary",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FundSummary"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/festivals/{festivalId}/funds/money-trail": {
            "get": {
                "tags": [
                    "Funds & Handovers"
                ],
                "summary": "Append-only money trail ledger (ADMIN/TREASURER)",
                "operationId": "moneyTrail",
                "parameters": [
                    {
                        "name": "festivalId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 20,
                            "maximum": 100
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "CASH_RECEIVED",
                                "UPI_RECEIVED",
                                "BANK_DEPOSIT",
                                "BANK_WITHDRAWAL",
                                "CASH_EXPENSE",
                                "CASH_HANDOVER",
                                "FUND_TRANSFER",
                                "OTHER_INCOME"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Money trail entries",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/MoneyTrailEntry"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/festivals/{festivalId}/funds/handovers": {
            "get": {
                "tags": [
                    "Funds & Handovers"
                ],
                "summary": "List cash handovers (COLLECTOR sees own)",
                "operationId": "listHandovers",
                "parameters": [
                    {
                        "name": "festivalId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "PENDING_APPROVAL",
                                "VERIFIED_ACCEPTED",
                                "REJECTED"
                            ]
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 20,
                            "maximum": 100
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of handovers",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/CashHandover"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Funds & Handovers"
                ],
                "summary": "Submit a cash handover (COLLECTOR/ADMIN) — multipart with PIN",
                "operationId": "submitHandover",
                "parameters": [
                    {
                        "name": "festivalId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "fromUserId": {
                                        "type": "string"
                                    },
                                    "toUserId": {
                                        "type": "string"
                                    },
                                    "amount": {
                                        "type": "number",
                                        "format": "double"
                                    },
                                    "linkedReceiptIds": {
                                        "description": "JSON array of vargani IDs",
                                        "type": "string"
                                    },
                                    "notes": {
                                        "type": "string"
                                    },
                                    "pin": {
                                        "description": "4-digit security PIN",
                                        "type": "string"
                                    },
                                    "photoFile": {
                                        "description": "Optional, max 2 MB",
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Handover submitted for verification",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CashHandover"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "INVALID_PIN / validation failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/funds/handovers/{handoverId}": {
            "get": {
                "tags": [
                    "Funds & Handovers"
                ],
                "summary": "Get a handover (participants + ADMIN + TREASURER)",
                "operationId": "getHandover",
                "parameters": [
                    {
                        "name": "handoverId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Handover details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CashHandover"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/funds/handovers/{handoverId}/verify": {
            "post": {
                "tags": [
                    "Funds & Handovers"
                ],
                "summary": "Verify (approve/reject) a handover — TREASURER exclusive",
                "operationId": "verifyHandover",
                "parameters": [
                    {
                        "name": "handoverId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "action": {
                                        "type": "string",
                                        "enum": [
                                            "APPROVE",
                                            "REJECT"
                                        ]
                                    },
                                    "authMethod": {
                                        "type": "string",
                                        "enum": [
                                            "BIOMETRIC",
                                            "PIN"
                                        ]
                                    },
                                    "authSignature": {
                                        "description": "Biometric attestation signature",
                                        "type": "string"
                                    },
                                    "treasurerPin": {
                                        "description": "4-digit PIN (when authMethod=PIN)",
                                        "type": "string"
                                    },
                                    "verificationNotes": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Handover verified"
                    },
                    "409": {
                        "description": "HANDOVER_NOT_PENDING",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "INVALID_PIN / BIOMETRIC_ATTESTATION_FAILED",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/festivals/{festivalId}/funds/bank-accounts": {
            "get": {
                "tags": [
                    "Funds & Handovers"
                ],
                "summary": "List bank accounts (ADMIN/TREASURER)",
                "operationId": "listBankAccounts",
                "parameters": [
                    {
                        "name": "festivalId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of bank accounts",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/BankAccount"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Funds & Handovers"
                ],
                "summary": "Add a bank account (ADMIN/TREASURER)",
                "operationId": "storeBankAccount",
                "parameters": [
                    {
                        "name": "festivalId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BankAccountRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Account added (accountNumber masked in response)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BankAccount"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/funds/bank-accounts/{accountId}": {
            "patch": {
                "tags": [
                    "Funds & Handovers"
                ],
                "summary": "Update/deactivate a bank account (ADMIN/TREASURER)",
                "operationId": "updateBankAccount",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "bankName": {
                                        "type": "string"
                                    },
                                    "ifsc": {
                                        "type": "string"
                                    },
                                    "upiId": {
                                        "type": "string"
                                    },
                                    "isActive": {
                                        "type": "boolean"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Account updated"
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/festivals/{festivalId}/funds/transfers": {
            "post": {
                "tags": [
                    "Funds & Handovers"
                ],
                "summary": "Fund transfer / bank deposit / withdrawal (ADMIN/TREASURER)",
                "description": "Idempotency-Key required. Creates FundTransfer + MoneyTrailEntry.",
                "operationId": "transferFunds",
                "parameters": [
                    {
                        "name": "festivalId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "fromBucket": {
                                        "type": "string",
                                        "enum": [
                                            "CASH_TREASURER",
                                            "CASH_COLLECTORS",
                                            "BANK",
                                            "UPI"
[...]
