{
  "openapi": "3.1.0",
  "info": {
    "title": "MandalHishob API Reference",
    "version": "2.1.0",
    "summary": "Production-ready RESTful & Real-time Backend API Specification for MandalHishob ERP",
    "description": "\n# 🕉️ MandalHishob API Reference & Integration Guide\n\nWelcome to the **MandalHishob API Reference**. MandalHishob is a high-performance financial management and ERP platform built specifically for festival mandals (उत्सव मंडळ) such as Ganeshotsav, Navratri, and Shivjayanti.\n\n---\n\n### 🚀 Key Architectural Capabilities\n\n1. **Multi-Tenant Scoping**: All operations are scoped by Mandal (`mandalId` / `X-Mandal-Id`) and Festival (`festivalId` / `X-Festival-Id`).\n2. **Dual-Signoff Cryptographic Locking**: The final accounts (*Final Hisab*) require dual digital signatures (Mandal President and Treasurer) before freezing financial writes permanently.\n3. **Double-Entry & Immutability**: No monetary record is ever hard-deleted. Vargani receipts can only be voided/cancelled with audit reasons.\n4. **Offline Sync & Idempotency**: Mobile collectors operate offline seamlessly. Sync mutations are guaranteed conflict-free via UUID `Idempotency-Key` headers and vector timestamps.\n5. **Real-Time WebSockets & SSE**: Live collection feeds, expense alerts, and cash handover approvals stream in real-time.\n\n---\n\n### 🔐 Authentication Flow\n\n1. Authenticate via `POST /api/v1/auth/login` with phone number/email and password.\n2. Obtain `accessToken` (lifetime: 30 minutes) and `refreshToken` (lifetime: 30 days).\n3. Include the JWT token in all authenticated requests:\n   ```http\n   Authorization: Bearer <accessToken>\n   X-Mandal-Id: mnd_shree_ganesh_2026\n   X-Festival-Id: fst_ganeshotsav_2026\n   ```\n4. When the access token expires (`401 TOKEN_EXPIRED`), exchange the refresh token via `POST /api/v1/auth/token/refresh`.\n\n---\n\n### 👥 Role-Based Access Control (RBAC) & User Types Matrix\n\nThe API enforces strict multi-tenant Role-Based Access Control (RBAC). A user's role in a specific Mandal determines their authorized actions:\n\n| Module / Action | SUPER_ADMIN | ADMIN | TREASURER | COLLECTOR | MEMBER |\n|---|:---:|:---:|:---:|:---:|:---:|\n| **Create Mandal / Onboarding** | ✅ Full | ✅ Full | ❌ | ❌ | ❌ |\n| **Update Mandal / Festival Settings** | ✅ Full | ✅ Full | ✏️ Budget only | 👁️ View | 👁️ View |\n| **Issue Vargani Receipts** | ✅ Full | ✅ Full | ✅ Full | ✅ Full | ❌ |\n| **Cancel / Void Vargani** | ✅ Full | ✅ Full | ✅ Full | 🔒 Own receipts only | ❌ |\n| **Receipt Book Allocate / Status** | ✅ Full | ✅ Full | ✅ Full | 👁️ Own books view | ❌ |\n| **Expenses & Bill Attachments** | ✅ Full | ✅ Full | ✅ Full | ❌ | ❌ |\n| **Initiate Cash Handover** | ✅ Full | ✅ Full | ✅ Full | ✅ Initiate | ❌ |\n| **Verify Cash Handover** | ✅ Full | ❌ | ⭐ **Exclusive** | ❌ | ❌ |\n| **Bank Accounts & Fund Transfers** | ✅ Full | ✅ Full | ✅ Full | ❌ | ❌ |\n| **Member Invites & Management** | ✅ Full | ✅ Full | 👁️ View | 👁️ View | 👁️ View |\n| **Dual Sign Final Hisab** | ✅ Full | ✍️ President Sign | ✍️ Treasurer Sign | ❌ | ❌ |\n| **Export Reports (PDF / Excel)** | ✅ Full | ✅ Full | ✅ Full | 🔒 Own summary | ❌ |\n\n---\n\n### 🛡️ Standard Response Wrappers\n\n#### Success Envelope (`200 OK`, `201 Created`):\n```json\n{\n  \"success\": true,\n  \"statusCode\": 200,\n  \"message\": \"Operation completed successfully\",\n  \"data\": { ... },\n  \"meta\": {\n    \"page\": 1,\n    \"limit\": 20,\n    \"totalRecords\": 120,\n    \"totalPages\": 6,\n    \"timestamp\": \"2026-08-09T16:15:00.000Z\"\n  }\n}\n```\n\n#### Error Envelope:\n```json\n{\n  \"success\": false,\n  \"statusCode\": 422,\n  \"error\": {\n    \"code\": \"VALIDATION_FAILED\",\n    \"message\": \"Invalid input data provided\",\n    \"details\": [\n      {\n        \"field\": \"phone\",\n        \"issue\": \"Phone number must be a valid 10-digit Indian mobile number\"\n      }\n    ]\n  },\n  \"timestamp\": \"2026-08-09T16:15:00.000Z\"\n}\n```\n    ",
    "contact": {
      "name": "MandalHishob Developer Support",
      "email": "support@mandalhisab.in",
      "url": "https://mandalhisab.in"
    }
  },
  "servers": [
    {
      "url": "https://api.mandalhisab.in/api/v1",
      "description": "Production API Server (AWS Mumbai)"
    },
    {
      "url": "http://localhost:8000/api/v1",
      "description": "Local Development Server"
    }
  ],
  "tags": [
    {
      "name": "Authentication & Profile",
      "description": "JWT Authentication, token rotation, profile settings, and 4-digit security PIN"
    },
    {
      "name": "Mandal & Festival Management",
      "description": "Mandal entity management and festival lifecycle tracking"
    },
    {
      "name": "Dashboard & Analytics",
      "description": "High-level financial summaries, targets, charts, and metrics"
    },
    {
      "name": "Vargani (Collection Receipts)",
      "description": "Collection receipt issuance, cancellation, signature uploads, and PDFs"
    },
    {
      "name": "Receipt Book Allocation",
      "description": "Physical receipt book tracking, leaf ranges, and collector distribution"
    },
    {
      "name": "Expense Management",
      "description": "Vendor bills, expense vouchers, receipt uploads, and payments"
    },
    {
      "name": "Funds & Treasury",
      "description": "Cash handovers, treasurer verification, bank accounts, fund transfers, and Money Trail"
    },
    {
      "name": "Mandal Members & Roles",
      "description": "Member directory, RBAC role assignment, financial summaries, and access management"
    },
    {
      "name": "Reports & Final Hisab",
      "description": "Financial reports, PDF/Excel generation, and President + Treasurer digital sign-off"
    },
    {
      "name": "App Config & Public",
      "description": "Public app configuration, feature flags, and public receipt lookup"
    },
    {
      "name": "Devices & Notifications",
      "description": "FCM push token registration and in-app notifications feed"
    },
    {
      "name": "Offline Sync & Real-time",
      "description": "Offline mutation queue synchronization, delta pull, and SSE event streaming"
    }
  ],
  "paths": {
    "/auth/register": {
      "post": {
        "tags": [
          "Authentication & Profile"
        ],
        "summary": "Register new user & initialize default Mandal",
        "description": "Creates a new user profile, creates their initial mandal, and returns JWT access + refresh tokens.",
        "operationId": "registerUser",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "fullName",
                  "phone",
                  "password",
                  "mandalName",
                  "address",
                  "city",
                  "pincode"
                ],
                "properties": {
                  "fullName": {
                    "type": "string",
                    "example": "Sagar Patil"
                  },
                  "phone": {
                    "type": "string",
                    "example": "9876543210"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "sagar@example.com"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "example": "StrongPass@123"
                  },
                  "mandalName": {
                    "type": "string",
                    "example": "Shree Ganesh Utsav Mandal"
                  },
                  "registrationNumber": {
                    "type": "string",
                    "example": "MAH/1234/2010"
                  },
                  "establishedYear": {
                    "type": "integer",
                    "example": 2010
                  },
                  "address": {
                    "type": "string",
                    "example": "Shivaji Chowk, Main Road"
                  },
                  "city": {
                    "type": "string",
                    "example": "Pune"
                  },
                  "pincode": {
                    "type": "string",
                    "example": "411001"
                  },
                  "wardNumber": {
                    "type": "string",
                    "example": "Ward 12"
                  },
                  "defaultLanguage": {
                    "type": "string",
                    "enum": [
                      "en",
                      "mr"
                    ],
                    "example": "mr"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User successfully registered",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "statusCode",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Operation completed successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "user": {
                          "$ref": "#/components/schemas/User"
                        },
                        "mandal": {
                          "$ref": "#/components/schemas/Mandal"
                        },
                        "tokens": {
                          "$ref": "#/components/schemas/AuthTokens"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-08-09T16:15:00.000Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Phone number already registered or invalid fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "success": false,
                  "statusCode": 422,
                  "error": {
                    "code": "VALIDATION_FAILED",
                    "message": "Phone number already registered or invalid fields"
                  },
                  "timestamp": "2026-08-09T16:15:00.000Z"
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "tags": [
          "Authentication & Profile"
        ],
        "summary": "Authenticate user and get JWT tokens",
        "description": "Log in with phone number or username and password.",
        "operationId": "loginUser",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "login",
                  "password"
                ],
                "properties": {
                  "login": {
                    "type": "string",
                    "description": "Phone number or username",
                    "example": "9876543210"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "example": "StrongPass@123"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "statusCode",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Operation completed successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "user": {
                          "$ref": "#/components/schemas/User"
                        },
                        "defaultMandalId": {
                          "type": "string",
                          "example": "mnd_shree_ganesh_2026"
                        },
                        "tokens": {
                          "$ref": "#/components/schemas/AuthTokens"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-08-09T16:15:00.000Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid phone number or password",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "success": false,
                  "statusCode": 401,
                  "error": {
                    "code": "INVALID_CREDENTIALS",
                    "message": "Invalid phone number or password"
                  },
                  "timestamp": "2026-08-09T16:15:00.000Z"
                }
              }
            }
          }
        }
      }
    },
    "/auth/token/refresh": {
      "post": {
        "tags": [
          "Authentication & Profile"
        ],
        "summary": "Refresh expired access token",
        "description": "Rotates the refresh token and returns a new access token.",
        "operationId": "refreshToken",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "refreshToken"
                ],
                "properties": {
                  "refreshToken": {
                    "type": "string",
                    "example": "rft_a1b2c3d4e5f6g7h8"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token refreshed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "statusCode",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Operation completed successfully"
                    },
                    "data": {
                      "$ref": "#/components/schemas/AuthTokens"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-08-09T16:15:00.000Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "The provided refresh token is expired or revoked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "success": false,
                  "statusCode": 401,
                  "error": {
                    "code": "REFRESH_TOKEN_EXPIRED",
                    "message": "The provided refresh token is expired or revoked"
                  },
                  "timestamp": "2026-08-09T16:15:00.000Z"
                }
              }
            }
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "tags": [
          "Authentication & Profile"
        ],
        "summary": "Logout user and revoke refresh token",
        "description": "Invalidates the current refresh token and active session.",
        "operationId": "logoutUser",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Logged out successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "statusCode",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Operation completed successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "loggedOut": {
                          "type": "boolean",
                          "example": true
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-08-09T16:15:00.000Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/me": {
      "get": {
        "tags": [
          "Authentication & Profile"
        ],
        "summary": "Get current user profile",
        "description": "Returns the authenticated user details, default mandal, and active festival context.",
        "operationId": "getMe",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "User profile retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "statusCode",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Operation completed successfully"
                    },
                    "data": {
                      "$ref": "#/components/schemas/User"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-08-09T16:15:00.000Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Authentication & Profile"
        ],
        "summary": "Update current user profile",
        "description": "Updates user display name, email, avatar image, language preference, and active festival selection.",
        "operationId": "updateMe",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fullName": {
                    "type": "string",
                    "example": "Sagar Patil"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "sagar.patil@example.com"
                  },
                  "avatarUrl": {
                    "type": "string",
                    "example": "https://storage.mandalhisab.in/avatars/usr_998877.jpg"
                  },
                  "defaultLanguage": {
                    "type": "string",
                    "enum": [
                      "en",
                      "mr"
                    ],
                    "example": "mr"
                  },
                  "activeFestivalId": {
                    "type": "string",
                    "example": "fst_ganeshotsav_2026"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "statusCode",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Operation completed successfully"
                    },
                    "data": {
                      "$ref": "#/components/schemas/User"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-08-09T16:15:00.000Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/security-pin": {
      "put": {
        "tags": [
          "Authentication & Profile"
        ],
        "summary": "Set or update 4-digit security PIN",
        "description": "Sets or updates the 4-digit PIN used for treasury verification and high-security actions.",
        "operationId": "setSecurityPin",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "pin"
                ],
                "properties": {
                  "currentPin": {
                    "type": "string",
                    "description": "Required if PIN is already set",
                    "example": "1234"
                  },
                  "pin": {
                    "type": "string",
                    "minLength": 4,
                    "maxLength": 4,
                    "example": "9876"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Security PIN updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "statusCode",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Operation completed successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "isPinSet": {
                          "type": "boolean",
                          "example": true
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-08-09T16:15:00.000Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "PIN must be exactly 4 numeric digits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "success": false,
                  "statusCode": 422,
                  "error": {
                    "code": "INVALID_PIN",
                    "message": "PIN must be exactly 4 numeric digits"
                  },
                  "timestamp": "2026-08-09T16:15:00.000Z"
                }
              }
            }
          }
        }
      }
    },
    "/auth/password": {
      "put": {
        "tags": [
          "Authentication & Profile"
        ],
        "summary": "Change account password",
        "description": "Updates user account password.",
        "operationId": "changePassword",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "currentPassword",
                  "newPassword"
                ],
                "properties": {
                  "currentPassword": {
                    "type": "string",
                    "format": "password",
                    "example": "OldPass@123"
                  },
                  "newPassword": {
                    "type": "string",
                    "format": "password",
                    "example": "NewStrongPass@456"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password changed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "statusCode",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Operation completed successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "changed": {
                          "type": "boolean",
                          "example": true
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-08-09T16:15:00.000Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/forgot-password": {
      "post": {
        "tags": [
          "Authentication & Profile"
        ],
        "summary": "Request password reset OTP",
        "operationId": "forgotPassword",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "phone"
                ],
                "properties": {
                  "phone": {
                    "type": "string",
                    "example": "9876543210"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "statusCode",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Operation completed successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "otpExpirySeconds": {
                          "type": "integer",
                          "example": 300
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-08-09T16:15:00.000Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/reset-password": {
      "post": {
        "tags": [
          "Authentication & Profile"
        ],
        "summary": "Reset password with OTP",
        "operationId": "resetPassword",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "phone",
                  "otp",
                  "newPassword"
                ],
                "properties": {
                  "phone": {
                    "type": "string",
                    "example": "9876543210"
                  },
                  "otp": {
                    "type": "string",
                    "example": "123456"
                  },
                  "newPassword": {
                    "type": "string",
                    "format": "password",
                    "example": "NewStrongPass@789"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password reset successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "statusCode",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Operation completed successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "reset": {
                          "type": "boolean",
                          "example": true
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-08-09T16:15:00.000Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/mandals": {
      "get": {
        "tags": [
          "Mandal & Festival Management"
        ],
        "summary": "List mandals user belongs to",
        "operationId": "listMandals",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Mandals retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "statusCode",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Operation completed successfully"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Mandal"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "type": "integer",
                          "example": 1
                        },
                        "limit": {
                          "type": "integer",
                          "example": 20
                        },
                        "totalRecords": {
                          "type": "integer",
                          "example": 45
                        },
                        "totalPages": {
                          "type": "integer",
                          "example": 3
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-08-09T16:15:00.000Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Mandal & Festival Management"
        ],
        "summary": "Create new Mandal",
        "description": "Creates a new Mandal entity and assigns the creator as ADMIN.",
        "operationId": "createMandal",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "address",
                  "city",
                  "pincode",
                  "contactNumber"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Navrashtra Yuvak Mandal"
                  },
                  "registrationNumber": {
                    "type": "string",
                    "example": "MAH/5678/2015"
                  },
                  "establishedYear": {
                    "type": "integer",
                    "example": 2015
                  },
                  "address": {
                    "type": "string",
                    "example": "Sector 4, Gandhinagar"
                  },
                  "city": {
                    "type": "string",
                    "example": "Kolhapur"
                  },
                  "pincode": {
                    "type": "string",
                    "example": "416001"
                  },
                  "wardNumber": {
                    "type": "string",
                    "example": "Ward 4"
                  },
                  "contactNumber": {
                    "type": "string",
                    "example": "9822334455"
                  },
                  "upiId": {
                    "type": "string",
                    "example": "navrashtra@upi"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Mandal created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "statusCode",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Operation completed successfully"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Mandal"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-08-09T16:15:00.000Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/mandals/{mandal}": {
      "get": {
        "tags": [
          "Mandal & Festival Management"
        ],
        "summary": "Get Mandal details",
        "operationId": "getMandal",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "mandal",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "mnd_shree_ganesh_2026"
          }
        ],
        "responses": {
          "200": {
            "description": "Mandal details retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "statusCode",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Operation completed successfully"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Mandal"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-08-09T16:15:00.000Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Mandal not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "success": false,
                  "statusCode": 404,
                  "error": {
                    "code": "MANDAL_NOT_FOUND",
                    "message": "Mandal not found"
                  },
                  "timestamp": "2026-08-09T16:15:00.000Z"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Mandal & Festival Management"
        ],
        "summary": "Update Mandal details",
        "operationId": "updateMandal",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "mandal",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "mnd_shree_ganesh_2026"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Shree Ganesh Utsav Mandal"
                  },
                  "address": {
                    "type": "string",
                    "example": "Shivaji Chowk, Main Road"
                  },
                  "city": {
                    "type": "string",
                    "example": "Pune"
                  },
                  "pincode": {
                    "type": "string",
                    "example": "411001"
                  },
                  "contactNumber": {
                    "type": "string",
                    "example": "9876543210"
                  },
                  "upiId": {
                    "type": "string",
                    "example": "shreeganesh@upi"
                  },
                  "logoUrl": {
                    "type": "string",
                    "example": "https://storage.mandalhisab.in/logos/mnd_1.png"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mandal updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "statusCode",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Operation completed successfully"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Mandal"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-08-09T16:15:00.000Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/mandals/{mandal}/festivals": {
      "get": {
        "tags": [
          "Mandal & Festival Management"
        ],
        "summary": "List festivals under a Mandal",
        "operationId": "listFestivals",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "mandal",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "mnd_shree_ganesh_2026"
          }
        ],
        "responses": {
          "200": {
            "description": "Festivals retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "statusCode",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Operation completed successfully"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Festival"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "type": "integer",
                          "example": 1
                        },
                        "limit": {
                          "type": "integer",
                          "example": 20
                        },
                        "totalRecords": {
                          "type": "integer",
                          "example": 45
                        },
                        "totalPages": {
                          "type": "integer",
                          "example": 3
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-08-09T16:15:00.000Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Mandal & Festival Management"
        ],
        "summary": "Create festival under Mandal",
        "operationId": "createFestival",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "mandal",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "mnd_shree_ganesh_2026"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "startDate",
                  "endDate"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Ganeshotsav 2026"
                  },
                  "startDate": {
                    "type": "string",
                    "format": "date",
                    "example": "2026-08-15"
                  },
                  "endDate": {
                    "type": "string",
                    "format": "date",
                    "example": "2026-08-25"
                  },
                  "targetCollection": {
                    "type": "number",
                    "example": 500000
                  },
                  "budgetLimit": {
                    "type": "number",
                    "example": 450000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Festival created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "statusCode",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Operation completed successfully"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Festival"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-08-09T16:15:00.000Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/festivals/{festival}": {
      "get": {
        "tags": [
          "Mandal & Festival Management"
        ],
        "summary": "Get festival details",
        "operationId": "getFestival",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "festival",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "fst_ganeshotsav_2026"
          }
        ],
        "responses": {
          "200": {
            "description": "Festival details retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "statusCode",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Operation completed successfully"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Festival"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-08-09T16:15:00.000Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Mandal & Festival Management"
        ],
        "summary": "Update festival & budget targets",
        "operationId": "updateFestival",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "festival",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "fst_ganeshotsav_2026"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Ganeshotsav 2026"
                  },
                  "startDate": {
                    "type": "string",
                    "format": "date",
                    "example": "2026-08-15"
                  },
                  "endDate": {
                    "type": "string",
                    "format": "date",
                    "example": "2026-08-25"
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "ACTIVE",
                      "UPCOMING",
                      "COMPLETED"
                    ],
                    "example": "ACTIVE"
                  },
                  "targetCollection": {
                    "type": "number",
                    "example": 600000
                  },
                  "budgetLimit": {
                    "type": "number",
                    "example": 500000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Festival updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "statusCode",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Operation completed successfully"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Festival"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-08-09T16:15:00.000Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/festivals/{festival}/dashboard/summary": {
      "get": {
        "tags": [
          "Dashboard & Analytics"
        ],
        "summary": "Get festival financial summary & analytics",
        "description": "Returns aggregated financial metrics: total collection, total expenses, net balance, target completion %, payment mode breakdown, and top collector rankings.",
        "operationId": "getDashboardSummary",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "festival",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "fst_ganeshotsav_2026"
          }
        ],
        "responses": {
          "200": {
            "description": "Dashboard metrics calculated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "statusCode",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Operation completed successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "totalCollected": {
                          "type": "number",
                          "example": 522501
                        },
                        "totalExpenses": {
                          "type": "number",
                          "example": 345000
                        },
                        "netBalance": {
                          "type": "number",
                          "example": 177501
                        },
                        "targetCollection": {
                          "type": "number",
                          "example": 500000
                        },
                        "budgetLimit": {
                          "type": "number",
                          "example": 450000
                        },
                        "targetProgressPercentage": {
                          "type": "number",
                          "example": 104.5
                        },
                        "budgetUtilizedPercentage": {
                          "type": "number",
                          "example": 76.6
                        },
                        "paymentModes": {
                          "type": "object",
                          "properties": {
                            "cash": {
                              "type": "number",
                              "example": 320000
                            },
                            "upi": {
                              "type": "number",
                              "example": 180000
                            },
                            "cheque": {
                              "type": "number",
                              "example": 22501
                            },
                            "netBanking": {
                              "type": "number",
                              "example": 0
                            }
                          }
                        },
                        "topCollectors": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "collectorId": {
                                "type": "string",
                                "example": "usr_998877"
                              },
                              "name": {
                                "type": "string",
                                "example": "Sagar Patil"
                              },
                              "totalAmount": {
                                "type": "number",
                                "example": 125000
                              },
                              "receiptCount": {
                                "type": "integer",
                                "example": 45
                              }
                            }
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-08-09T16:15:00.000Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/festivals/{festival}/vargani": {
      "get": {
        "tags": [
          "Vargani (Collection Receipts)"
        ],
        "summary": "List collection receipts",
        "description": "Returns paginated list of vargani receipts. Supports filtering by date range, payment mode, collector, and donor search term.",
        "operationId": "listVargani",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "festival",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "fst_ganeshotsav_2026"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Donor name or receipt number"
          },
          {
            "name": "paymentMode",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "CASH",
                "UPI",
                "CHEQUE",
                "NET_BANKING"
              ]
            }
          },
          {
            "name": "collectorId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Receipts retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "statusCode",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Operation completed successfully"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/VarganiEntry"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "type": "integer",
                          "example": 1
                        },
                        "limit": {
                          "type": "integer",
                          "example": 20
                        },
                        "totalRecords": {
                          "type": "integer",
                          "example": 45
                        },
                        "totalPages": {
                          "type": "integer",
                          "example": 3
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-08-09T16:15:00.000Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Vargani (Collection Receipts)"
        ],
        "summary": "Issue new Vargani collection receipt",
        "description": "Issues a digital receipt or enters a physical receipt book leaf. Blocked once Final Hisab is locked.",
        "operationId": "createVargani",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "IdempotencyKey": []
          }
        ],
        "parameters": [
          {
            "name": "festival",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "fst_ganeshotsav_2026"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "donorName",
                  "amount",
                  "paymentMode",
                  "receiptType"
                ],
                "properties": {
                  "donorName": {
                    "type": "string",
                    "example": "Sunil Gaikwad"
                  },
                  "donorPhone": {
                    "type": "string",
                    "example": "9822012345"
                  },
                  "donorAddress": {
                    "type": "string",
                    "example": "Flat 4, Shanti Heights, Pune"
                  },
                  "amount": {
                    "type": "number",
                    "example": 2501
                  },
                  "paymentMode": {
                    "type": "string",
                    "enum": [
                      "CASH",
                      "UPI",
                      "CHEQUE",
                      "NET_BANKING"
                    ],
                    "example": "UPI"
                  },
                  "receiptType": {
                    "type": "string",
                    "enum": [
                      "DIGITAL",
                      "PHYSICAL_BOOK"
                    ],
                    "example": "DIGITAL"
                  },
                  "receiptBookId": {
                    "type": "string",
                    "description": "Required if PHYSICAL_BOOK",
                    "example": "bk_001"
                  },
                  "receiptBookLeafNumber": {
                    "type": "integer",
                    "description": "Required if PHYSICAL_BOOK",
                    "example": 1024
                  },
                  "upiTransactionId": {
                    "type": "string",
                    "example": "UPI20260809123456"
                  },
                  "chequeNumber": {
                    "type": "string",
                    "example": "CHK-554433"
                  },
                  "bankName": {
                    "type": "string",
                    "example": "HDFC Bank"
                  },
                  "signatureBase64": {
                    "type": "string",
                    "description": "Optional PNG Base64 signature"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Vargani receipt issued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "statusCode",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Operation completed successfully"
                    },
                    "data": {
                      "$ref": "#/components/schemas/VarganiEntry"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-08-09T16:15:00.000Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Festival accounts are finalized and locked against changes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "success": false,
                  "statusCode": 409,
                  "error": {
                    "code": "HISAB_LOCKED",
                    "message": "Festival accounts are finalized and locked against changes"
                  },
                  "timestamp": "2026-08-09T16:15:00.000Z"
                }
              }
            }
          }
        }
      }
    },
    "/festivals/{festival}/vargani/export": {
      "get": {
        "tags": [
          "Vargani (Collection Receipts)"
        ],
        "summary": "Export Vargani receipts (XLSX / CSV)",
        "operationId": "exportVargani",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "festival",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "fst_ganeshotsav_2026"
          },
          {
            "name": "format",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "xlsx",
                "csv"
              ]
            },
            "example": "xlsx"
          }
        ],
        "responses": {
          "200": {
            "description": "Export file binary stream",
            "content": {
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/festivals/{festival}/vargani/{vargani}": {
      "get": {
        "tags": [
          "Vargani (Collection Receipts)"
        ],
        "summary": "Get Vargani receipt details",
        "operationId": "getVargani",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "festival",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vargani",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "vrg_102"
          }
        ],
        "responses": {
          "200": {
            "description": "Receipt retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "statusCode",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Operation completed successfully"
                    },
                    "data": {
                      "$ref": "#/components/schemas/VarganiEntry"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-08-09T16:15:00.000Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Vargani receipt not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "success": false,
                  "statusCode": 404,
                  "error": {
                    "code": "RECEIPT_NOT_FOUND",
                    "message": "Vargani receipt not found"
                  },
                  "timestamp": "2026-08-09T16:15:00.000Z"
                }
              }
            }
          }
        }
      }
    },
    "/festivals/{festival}/vargani/{vargani}/cancel": {
      "post": {
        "tags": [
          "Vargani (Collection Receipts)"
        ],
        "summary": "Cancel / Void Vargani receipt",
        "description": "Marks receipt as cancelled with an audit reason. Decrements collection totals.",
        "operationId": "cancelVargani",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "IdempotencyKey": []
          }
        ],
        "parameters": [
          {
            "name": "festival",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vargani",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "vrg_102"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "reason"
                ],
                "properties": {
                  "reason": {
                    "type": "string",
                    "example": "Donor entered wrong amount in check"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Receipt cancelled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "statusCode",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Operation completed successfully"
                    },
                    "data": {
                      "$ref": "#/components/schemas/VarganiEntry"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-08-09T16:15:00.000Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/festivals/{festival}/vargani/{vargani}/signature": {
      "post": {
        "tags": [
          "Vargani (Collection Receipts)"
        ],
        "summary": "Upload donor signature image",
        "operationId": "uploadVarganiSignature",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "festival",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vargani",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "vrg_102"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "signature"
                ],
                "properties": {
                  "signature": {
                    "type": "string",
                    "format": "binary",
                    "description": "PNG/JPEG signature image"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signature attached",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "statusCode",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Operation completed successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "signatureUrl": {
                          "type": "string",
                          "example": "https://storage.mandalhisab.in/signatures/vrg_102.png"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-08-09T16:15:00.000Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/festivals/{festival}/vargani/{vargani}/pdf": {
      "get": {
        "tags": [
          "Vargani (Collection Receipts)"
        ],
        "summary": "Download branded receipt PDF",
        "operationId": "downloadVarganiPdf",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "festival",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vargani",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "vrg_102"
          }
        ],
        "responses": {
          "200": {
            "description": "Receipt PDF binary file",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/public/receipts/{receiptNumber}": {
      "get": {
        "tags": [
          "App Config & Public"
        ],
        "summary": "Public receipt lookup (No auth required)",
        "description": "Enables donors scanning receipt QR code to verify receipt authenticity and view digital copy.",
        "operationId": "publicReceiptLookup",
        "parameters": [
          {
            "name": "receiptNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1246"
          }
        ],
        "responses": {
          "200": {
            "description": "Receipt verified",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "statusCode",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Operation completed successfully"
                    },
                    "data": {
                      "$ref": "#/components/schemas/VarganiEntry"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-08-09T16:15:00.000Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No valid receipt found with this receipt number",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "success": false,
                  "statusCode": 404,
                  "error": {
                    "code": "RECEIPT_NOT_FOUND",
                    "message": "No valid receipt found with this receipt number"
                  },
                  "timestamp": "2026-08-09T16:15:00.000Z"
                }
              }
            }
          }
        }
      }
    },
    "/festivals/{festival}/receipt-books": {
      "get": {
        "tags": [
          "Receipt Book Allocation"
        ],
        "summary": "List physical receipt books",
        "operationId": "listReceiptBooks",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "festival",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Receipt books retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "statusCode",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Operation completed successfully"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ReceiptBook"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "type": "integer",
                          "example": 1
                        },
                        "limit": {
                          "type": "integer",
                          "example": 20
                        },
                        "totalRecords": {
                          "type": "integer",
                          "example": 45
                        },
                        "totalPages": {
                          "type": "integer",
                          "example": 3
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-08-09T16:15:00.000Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Receipt Book Allocation"
        ],
        "summary": "Create new receipt book series",
        "operationId": "createReceiptBook",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "IdempotencyKey": []
          }
        ],
        "parameters": [
          {
            "name": "festival",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "bookNumber",
                  "startLeaf",
                  "endLeaf"
                ],
                "properties": {
                  "bookNumber": {
                    "type": "string",
                    "example": "BOOK-01"
                  },
                  "startLeaf": {
                    "type": "integer",
                    "example": 1001
                  },
                  "endLeaf": {
                    "type": "integer",
                    "example": 1050
                  },
                  "assignedToUserId": {
                    "type": "string",
                    "example": "usr_998877"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Receipt book created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "statusCode",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Operation completed successfully"
                    },
                    "data": {
                      "$ref": "#/components/schemas/ReceiptBook"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-08-09T16:15:00.000Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/receipt-books/{book}": {
      "get": {
        "tags": [
          "Receipt Book Allocation"
        ],
        "summary": "Get receipt book details & leaf status",
        "operationId": "getReceiptBook",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "book",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "bk_001"
          }
        ],
        "responses": {
          "200": {
            "description": "Receipt book retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "statusCode",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Operation completed successfully"
                    },
                    "data": {
                      "$ref": "#/components/schemas/ReceiptBook"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-08-09T16:15:00.000Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/receipt-books/{book}/assign": {
      "post": {
        "tags": [
          "Receipt Book Allocation"
        ],
        "summary": "Assign receipt book to collector",
        "operationId": "assignReceiptBook",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "IdempotencyKey": []
          }
        ],
        "parameters": [
          {
            "name": "book",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "bk_001"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "assignedToUserId"
                ],
                "properties": {
                  "assignedToUserId": {
                    "type": "string",
                    "example": "usr_998877"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Book assigned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "statusCode",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Operation completed successfully"
                    },
                    "data": {
                      "$ref": "#/components/schemas/ReceiptBook"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-08-09T16:15:00.000Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/receipt-books/{book}/status": {
      "patch": {
        "tags": [
          "Receipt Book Allocation"
        ],
        "summary": "Update receipt book status (ACTIVE, COMPLETED, LOST, CANCELLED)",
        "operationId": "updateReceiptBookStatus",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "IdempotencyKey": []
          }
        ],
        "parameters": [
          {
            "name": "book",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "bk_001"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "status"
                ],
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "ACTIVE",
                      "COMPLETED",
                      "LOST",
                      "CANCELLED"
                    ],
                    "example": "COMPLETED"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Book status updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "statusCode",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
[...]
